%h2 Displaying all users

%table{border:1, cellpadding:4}
  %tr
    %th User ID
    %th Name
    %th Contact Number
    %th Employee ID
    %th EMail ID

  -@users_list.each do |user|
    %tr
      %td= user.id
      %td= user.full_name
      %td= user.contact_number
      %td= user.employee_id
      %td= user.email_id  

%br  
= button_to "Add User", new_user_path, method: :get 