<style>
#heading{
  text-align: center;
  padding: 20px;
  background-color: #aaaaaa;
  color: black;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #f0b596;
}
</style>

<div id="heading">
  <h1>Josh Cab Booking</h1>
</div>

<h2>Showing All Rides</h2>

<table border=3 cellpadding="5" cellspacing="3">

  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <th>Driver Name</th>
    <th>Requests</th>
  </tr>

  <% @rides_list.each do |ride| %>
    <tr>
      <td><%= ride.id %></td>
      <td><%= ride.date.strftime("%d-%m-%Y") %></td>
      <td><%= ride.time.strftime("%H:%M%p") %></td>
      <td><%= ride.location %></td>
      <td><%= ride.driver_name %></td>
      <td><%= link_to 'View Request', ride_ride_requests_path(ride)%></td>
    </tr>
  <% end %>

</table>   